body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
 a{
    margin-top: 10px;
}
.upper{
    margin-top: 0%;
}
.register-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

h2 {
    margin-bottom: 20px;
}

input, select, button {
    width: 90%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.nav {
    background-color: #007bff;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-brand h1 {
    margin: 0;
    font-size: 24px;
}

.navbar-links a {
    color: white;
    margin-left: 20px;
}
button {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

#error-message {
    color: red;
    margin-top: 10px;
}


@media (max-width: 768px) {
    .register-container {
        width: 90%;
    }
}